
:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ddd;
  flex-grow: 1;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0 20px;
  width: 800px;
  min-width: 50%;

  #back-button {
    display: flex;
    align-items: center;
    flex-grow: 0;
  }

  #product {
    display: flex;
    flex-direction: row;

    app-image-gallery {
      margin-right: 20px;
    }
  }
}
