
<div id="container">
  <button mat-button id="back-button" routerLink="/products">
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </button>

  <div id="product" *ngIf="product$ | async as product">
    <app-image-gallery [image]=product.images[0].image></app-image-gallery>

    <app-product-description
      [product]="product"
      (addToCart)="onAddToCart(product.productId)"
      (addToWishlist)="onAddToWishlist(product.productId)">
    </app-product-description>
  </div>

  <app-reviews></app-reviews>
</div>
