#menu {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 600px !important;
}

#checkout-button {
  background-color: #4B71BB;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;

  &:hover, &:focus {
    background-color: darken(#4B71BB, 10%);
  }
}
