<mat-menu id="menu" [overlapTrigger]="false" (click)="$event.stopPropagation()">
  <span id="title">My Wishlist ({{ itemsCount$ | async }})</span>

  <!-- Wishlist Item -->
  <app-wishlist-item
    *ngFor="let item of wishlistItems$ | async as wishlistItems; trackBy: trackById"
    [item]="item"
    (removeItem)="onRemoveItem($event)">
  </app-wishlist-item>

  <p id="no-items-text" *ngIf="(itemsCount$ | async) === 0">There are no products in your wishlist</p>
  <a id="checkout-button" *ngIf="(itemsCount$ | async) >= 1">Checkout</a>
</mat-menu>
