<div id="title-container">
  <mat-icon id="logo">shop</mat-icon>
  <span id="title">Webshop</span>
</div>

<div id="actions">
  <ng-container *ngIf="user$ | async as user">
    <span id="logged-in-user">Logged in as {{ user.firstname }} {{ user.lastname }}</span>
  </ng-container>

  <button mat-icon-button matTooltip="Cart" matTooltipShowDelay="300" matTooltipPosition="below" [matMenuTriggerFor]="cart.menu">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Wishlist" matTooltipShowDelay="300" matTooltipPosition="below" [matMenuTriggerFor]="wishlist.menu">
    <mat-icon>favorite</mat-icon>
  </button>

  <app-cart #cart></app-cart>
  <app-wishlist #wishlist></app-wishlist>
  <app-user-actions #userActions></app-user-actions>

  <div id="avatar" [matMenuTriggerFor]="userActions.menu"></div>
</div>
