<div id="title-container">
  <mat-icon id="logo">shop</mat-icon>
  <span id="title">Webshop</span>
</div>

<div id="actions">
  <button mat-icon-button matTooltip="Warenkorb" matTooltipShowDelay="300" matTooltipPosition="below" [matMenuTriggerFor]="cart.menu">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Wunschliste" matTooltipShowDelay="300" matTooltipPosition="below">
    <mat-icon>bookmarks</mat-icon>
  </button>

  <app-cart #cart></app-cart>

  <div id="avatar"></div>

  <div></div>
</div>
