:host {
  display: flex;
  align-items: center;
  height: 70px;

  padding: 10px;

  &:hover, &:focus {
    background-color: darken(#fff, 5%);
  }
}

#image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  border: 1px solid black;
  margin-right: 10px;
}

#text-row {
  display: flex;
  flex-direction: column;
  flex: 1 auto;

  #title {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  #price {
    color: red;
    font-size: 14px;
  }
}
